:root {
  --primary-purple: hsl(300, 55%, 80%);
  --primary-purple-lower-opac: hsl(from var(--primary-purple) h s l / 0.6);
  --text-color-100: hsl(from var(--primary-purple) h s calc(l + 10));
  --text-color-400: hsl(from var(--primary-purple) h s calc(l - 35));
  --text-color-700: hsl(from var(--primary-purple) h s calc(l - 45));
  --max-width: 1280px;
  --med-width: 1024px;
  --main-font: "OCR A Extended";
  --asterisk: hsl(90, 100%, 45%);
  --heading-1-size: clamp(1.5rem, 1.0856rem + 1.768vw, 2.5rem);
  --jpn: hsla(0deg, 100%, 70%, 0.3);
  --wg: hsla(45, 100%, 50%, 0.3);
  --other: hsla(200deg, 70%, 60%, 0.3);
  --footer-header-bg: hsl(from var(--primary-purple) h s calc(l + 17));
  --shadow-offset: 3px;
}

@font-face {
  font-family: "OCR A Extended";
  src: url("/fonts/OCRAEXT.TTF");
}

*,
*:after,
*:before {
  margin: 0;
}

*::selection {
  background-color: chartreuse;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 1rem;
}

body {
  font-family: var(--main-font);
  margin: 0;
  padding: 8rem 0rem 0rem;
  color: var(--text-color-700);
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 8rem);

  section {
    margin-inline: auto;
    margin-block-start: 2.5rem;
    max-width: var(--max-width);

    @media (min-width: 768px) {
      padding-inline: 2rem;
    }
  }

  #stretch {
    /* flex-grow: 1; */
    width: 100%;
  }

  .screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  a {
    color: inherit;
    text-underline-offset: 4px;
  }

  ul {
    list-style-type: none;
  }

  @media (max-width: 800px) {
    padding-inline: 1rem;
  }
}

p {
  line-height: 1.6;
}

sup {
  padding-inline-start: 0.5rem;
}
